Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import json

Read the file in json format and convert it to dataframe

In [ ]:

with open("job_lists.json", "r") as file:
    jobs = json.load(file)
    dataset = pd.DataFrame.from_dict(jobs)

dataset.head()

,job_title,job_description,seniority_level,employment_type,salary,company_name,location,time_posted,num_applicants,job_link
0,Remote Data Entry,Company Overview\nFormapelec is a dynamic and ...,Entry level,Full-time,"$40,000.00/yr - $54,000.00/yr",FORMAPELEC,United States,9 hours ago,None,https://www.linkedin.com/jobs/view/remote-data...
1,Data Analyst Intern (Human Resources),Job Description\nData Analyst Intern\nThe Iowa...,Internship,Internship,None,State of Iowa - Executive Branch,"Ames, IA",None,70 applicants,https://www.linkedin.com/jobs/view/data-analys...
2,Jr Data Scientist,Company Description\nWho We Are:\nSpring Ventu...,Mid-Senior level,Full-time,None,Spring Venture Group,"Kansas City, MO",20 hours ago,None,https://www.linkedin.com/jobs/view/jr-data-sci...
3,Data Analyst,Our client is seeking a skilled Data Analyst t...,Associate,Part-time,None,Stealth Startup,United States,None,None,https://www.linkedin.com/jobs/view/data-analys...
4,Data Scientist Intern,Cardiosense is a digital health company that o...,Not Applicable,Internship,None,Cardiosense,"Chicago, IL",None,None,https://www.linkedin.com/jobs/view/data-scient...

In [ ]:
len(dataset)

8938

In [ ]:
dataset.isnull().sum()

job_title          1856
job_description    1856
seniority_level    1856
employment_type    1856
salary             5489
company_name       1856
location           1856
time_posted        3832
num_applicants     5953
job_link           1856
dtype: int64

The dataset contains a significant number of null values in various columns. However, rows with missing values in the job_title column (1856 entries) are being removed to ensure the integrity of the analysis.

In [ ]:
dataset = dataset.dropna(subset="job_title")

In [ ]:
dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8933     True
8934     True
8935     True
8936     True
8937     True
Length: 7082, dtype: bool

Since there seems to be the duplicate values they all needs to be removed.

In [ ]:
dataset.drop_duplicates(inplace=True)

In [ ]:
len(dataset)

1178

After dropping the duplicates there is only 1178 entries exists it means there were too many duplicated values.

In [ ]:
dataset["job_title"].unique()

array(['Remote Data Entry', 'Data Analyst Intern (Human Resources)',
       'Jr Data Scientist', 'Data Analyst', 'Data Scientist Intern',
       'Agency Data Analyst',
       "Analytics/Data Science Master's Level Internship (Summer 2025 - Remote)",
       'Data Analytics Intern',
       'Graduate Student Data Scientist - Intern',
       'Fully Remote Data Entry Clerk / Work From Home Typist',
       'Research & Analytics Intern, Summer 2025',
       'Data Analyst - Fully Remote in the US', 'Product Data Scientist',
       'Staff Data Analyst, Credit Analytics',
       "Don't see an opening that matches your background? Join our talent community here!",
       'Remote Data Entry Clerk / Typing - Part Time or Full Time',
       'Data Entry - Remote (WFH)',
       'Data Scientist I - User Growth Analytics (LatAm)',
       'Virtual Data Entry Clerk', 'Digital Marketing Manager',
       'Business Analyst, Marketing, Amazon Key', 'Data Analyst I',
       'Data analyst with Python', 'Growth Marketing Associate',
       'Machine Learning Intern', 'Data and Insights Analyst',
       'Data and Visualization Analyst',
       'Summer 2025 Business Intelligence Internship', 'UX Researcher II',
       'Power BI Analyst', 'Entry Level Data Analyst',
       'Policy and Research Coordinator', 'Business Data Analyst',
       'Data Entry Clerk', 'Business Analyst',
       'Data Entry Specialist - Tempe', 'Data Engineer Intern',
       'Data Entry Admin', 'Data Engineer', 'Image Annotation Reviewer',
       'Business Intelligence Analyst', 'Data Entry Clerk *ASAP*',
       'Data Scientist, RWE Clinical Trials - Remote',
       'Data Entry Specialist', 'Admin Data Entry Clerk - Remote',
       'Policy Analyst', 'Senior Data Analysis Specialist',
       'Customer Success Manager, Coursera for Government',
       'Customer Service Representive - CCC Eastern/ CentralTime Zones',
       'Data Scientist II', 'Junior Level Business/Data Analyst',
       'Regional Manager, Data Center Operations (Americas)',
       'Sales Representative - Mountain States',
       'Records and Information Specialist I',
       "Adjunct Faculty, Non-Credit, Childrens' Classes",
       'Senior Data Engineer', 'Senior Director, Data Science',
       'Data Quality Analyst', 'Market Research Analyst',
       'Associate Data Scientist', 'Data Scientist', 'Product Manager',
       'Data & Operations Associate, Climate Careers Central Valley',
       'Data Research Intern', 'Investment Analyst',
       'Data Engineer - Healthcare', 'Energy Systems Data Scientist',
       'Data Entry/Processing Clerk',
       'Remote Data Entry Clerk - FULLY REMOTE', 'Data Engineer - REMOTE',
       'Analyst Data with Expertise in Management and Reporting',
       'Project Manager (Creative Team)', 'Health Plan Data Analyst',
       'HR Data Analytics Analyst', 'Business Analyst (Clinical Data)',
       '- Houston Scientist Failure Data (OFSE-ST) Predictive Analytics',
       'Business Intelligence (BI) Developer', 'Data Science Intern',
       'Data Modeler', 'Financial Quantitative Analyst',
       'Head of Growth Marketing', 'Title Examiner',
       'Machine Learning Model Engineer - Advertising - Ranking',
       'Data Analyst III - Remote', 'Implementation Analyst',
       'Data Science Manager', 'Executive Assistant - Police Department',
       'Data and Statistical Science for Evidence Generation Intern NJ',
       'Technical Business Analyst', 'PowerBI Developer/Analyst',
       'Talent Acquisition Specialist', 'Data Governance Consultant',
       'Entry-Level Investigator', 'Operations Analyst (Corporate)',
       'Remote Marketing Data Analyst',
       'Data Scientist (Associate Researcher) for MS Proteomics',
       'Data Entry Associate', 'Executive Assistant, Television',
       'Data Integrations Associate', 'Analyst III, Business Data',
       'Sr. BI Analyst', 'AI Software Engineer Intern - Summer 2025',
       'Staples Digital Solutions (Technology) - Data Engineer Co-Op (Hybrid) - July 2025',
       'Intelligence Analyst', 'Virtual Travel Data Entry (Entry Level)',
       'Executive Assistant - 153635', 'Associate Sales Consultant',
       'Customer Insights Analyst',
       'Supply Chain Business Analyst II, CASA',
       'Data Technician - Surveying',
       'Data Analytics Training & Internship',
       'Biostatistician I - Institute for Public Health Practice, Research and Policy',
       'Marketing Data Analyst',
       'Data Driven Analysis Intern - Summer 2025 - Plano, TX',
       'Data Analyst 1 - 3477', 'ETL Analyst/Data Scientist',
       'Why work for SPHERE?', 'Product Manager (Consumer Electronics)',
       'Market & Competitive Intelligence Manager',
       'Data Science Analyst', 'Insights Analyst - WCIB',
       'Data Analyst - Junior Level (Remote)', 'Data Analyst (W2 Only)',
       'Tableau/PowerBI Developer - Remote', 'Data Reporting Analyst',
       'Research And Development Specialist', 'Data Entry Clerk (46607)',
       'Advanced Analytics Analyst', 'Performance Analyst',
       'Data Analyst (IAC24216)',
       'Associate / Senior Associate (NYC or Chicago)',
       'Reporting Analyst', 'Analytics Associate',
       'Customer Experience Senior Specialist',
       'Vice President, Transformation Strategy and Value Management',
       'Materials Resource Planning Analyst (remote USA anywhere)',
       'Data Modeler - REMOTE', 'Data Management Analyst III',
       'Analyst/Associate- Client Solutions & Analytics',
       'Data Analytics and AI Developer - Contract',
       'Research Data Analyst',
       'Substantial Damage Assessment Data Processor',
       'Digital Forensic Analyst',
       'Remote Client Coordinator | WFH Healthcare Data Entry Specialist',
       'Data Entry (Contract)', 'TechELINT Analyst',
       'Data Scientist, Pharma', 'Online Admissions Specialist',
       'Director of Ecommerce', 'Procurement Specialist',
       'Operations Data Analyst', 'Data Entry Specialist - Junior',
       'Forensic Economist', 'ISC Analytics Intern',
       'Associate- Data Engineer', 'Healthcare Operations Analyst',
       'Sr. Data Scientist', 'Associate UX Researcher',
       'Supply Chain Manager', 'Associate Producer, ABC News Studios',
       'End-of-Life (Technology Roadmap Compliance) Data Analyst and Reporting - Associate',
       'Quality Data Analyst',
       'Payments Acceptance Fraud Operations Manager',
       'Project Coordinator – Business Continuity',
       'Senior Manager of Growth', 'Data Science Vice President',
       'Business Analyst/Category Sales Analyst 2 - 14689',
       'Head of Content Strategy', 'Senior Data Analyst/Analytics',
       'Business Intelligence Engineer: 25-03809',
       'Director, Capital Markets', 'INTELLIGENCE SPECIALIST.',
       'Operations Analyst', 'Recruitment Coordinator (Contractor)',
       'Data Analyst, Bureau of Hepatitis, HIV, and STI',
       'Data Analyst: Digital Learning at UT - UTK',
       'Data Scientist, Executive Analytics',
       'Junior Data Analyst/Engineer', 'Data Admin/Analyst',
       'Entry Level Management',
       'Data Analyst, Data Analytics & Reporting',
       'Research & Project Analyst (Computer, Information Science, Engineering,',
       'Clinical Research Data Coordinator I - 134426',
       'Variable Imaging Intern', 'Machine Learning Engineer',
       'Business Intelligence Developer', 'AI/ML Data Scientist Intern',
       'Part Time - Health Care - Research Evaluator',
       'Software Developer I', 'Reporting & Analysis Associate',
       'Technology Systems Analyst I/II - Data Analyst',
       'Director of AI - Data & Infrastructure',
       'Business Operations Analyst', 'Valuations Analyst',
       'Data Scientist - Generative AI Applications',
       'Senior Data Analyst',
       'Data Entry Clerk Work From Home - Part Time Focus Group Panelists',
       'Data Analyst-Supply Chain', 'Data Analyst Senior or Lead',
       'Data Analytics Intern (Summer 2025)', 'Data Warehouse Analyst',
       'Clinical Quality & Performance Improvement Analyst',
       'Data Analyst, Partnership Strategies', 'Digital Business Analyst',
       'Data Engineering Manager, Analytics',
       'Office Coordinator - 153636',
       'DATA ENTRY ADMIN ASSISTANT (FULL TIME)',
       'Data Engineering Intern', 'Elementary School Registrar',
       'Inventory Analyst', 'Sales Development Representative',
       'Business Development Representative',
       'Data Analyst (Portfolio Analytics)',
       'Senior Business Intelligence Analyst', 'Healthcare Data Analyst',
       'Digital Analytics Consultant', 'DATA ENTRY CLERK',
       'Director of Brand Marketing',
       'Global Research - Economics - Associate',
       'Data Entry for Accounting Team Support', 'Scientist',
       'Founding AI and Data Engineer', 'Principal Product Manager',
       'Information Technology Business Analyst', 'Research Technician I',
       'Healthcare Data Integration Specialist',
       'Employee Relations Specialist',
       'Research and Data Analysis Intern - Summer 2025',
       'Director of Partnerships', 'Data Entry Operator',
       'Data Science Summer Intern - GRADUATE-LEVEL',
       'Administrative Asst - Operations', 'Social Media Coordinator',
       'Finance Analyst', 'Corporate Finance Analyst',
       'Senior Director, Data Center Solutions',
       'Data Science Virtual Internship',
       'Quality Compliance Data Steward',
       'Data Analyst - P&C Insurance Industry',
       'Senior Analyst/Data Business - REMOTE - One Year Contract - 740337',
       'Research and Data Team Supervisor (Court Programs Analyst III).',
       'Lead Data Scientist', 'Director, Product Marketing',
       'Remote Software Developer (Junior)',
       'Performance Analyst - Affiliate Marketing',
       'Data Analyst-Population Health and Care Management (Full- time Remote, North Carolina Based)',
       'Customer Success Specialist', 'Financial Analyst',
       'Information Security Analyst',
       'Data Engineer-Spark, Python, Databricks', 'Data Analystics',
       'Assoc. Principal/Principal Bioinformatics Data Scientist',
       'Administrative Assistant',
       'Quality Control Data Analyst (Toxicity)',
       'Associate Data Analyst', 'Vice President of Growth',
       'Vice President Development & Communications',
       '* UN Women: Data Analysis and Monitoring Specialist, New York, USA, P3 FTA',
       'Project Coordinator',
       'Data Science/Analytics Intern - Temporary Part-Time',
       'Operations Data Administrator', 'Sr. Data Engineer',
       'Supply Chain Analyst', 'WMS Analyst',
       'Financial Analytics Intern', 'Junior Data Scientist/Engineer',
       '25m Health Analyst', '(USA) Data Scientist III',
       'Fixed Income Product Analyst',
       'Document Processing and Data Entry Specialist',
       'Finance - Analytics and Modeling - Lead Associate (Flexible Hybrid)',
       'Business Analyst/Data Management', 'Data Analyst with Automation',
       'Senior Business Analyst',
       'Middle School Principal (25/26 School Year)',
       'Assistant Professor of Statistics and Data Science',
       'Clinical Research Data Coordinator',
       'Systems Analyst, Data and Merchandising', 'Accountant I',
       'Business Intelligence Analyst, New Business Operations',
       'Digital Marketing Analyst', 'Data Technician',
       'Research Study Coordinator', 'Production Data Specialist',
       'Practice Facilitator',
       'Data Science Leadership Development Program (DSLDP) Associate Data Scientist',
       'Administrative Assistant (Remote)', 'Marketing Assistant',
       'Business Analyst Project Lead',
       'Product Manager at Embedded Medical - Remote, $100k-$165k/yr + 0.11%-0.40%',
       'Data Entry Customer Service Agent', 'User Experience Designer',
       'Pricing Analyst', 'Hochschulpraktikant/-in Data Analytics',
       'Senior Data Scientist - Risk and Fraud Management',
       'Head of Data Engineering (Clinical)', 'Senior Data Architect',
       'Senior Data & Reporting Specialist',
       'Performance and Crime Analyst - Info Hub',
       'Data Entry Clerk and Quality Control M-F 9am to 5:30pm',
       'Customer Relationship Management Manager', 'RBT', 'Data Manager',
       'Head of Data Management & Strategy',
       'Head of Performance Analysis',
       'Process Risk and Compliance Operations Manager',
       'Research Fellow', 'Analyst, GIS', 'Junior Product Owner',
       'Investigative Analyst', 'EHR Analyst I',
       'Sr Analyst, Revenue Management Bookable Experiences',
       'Investment Analyst / Financial Planning Paraplanner',
       'Inventory Manager',
       'D&A Case Management and Data Analytics Specialist',
       'VP, Brand Marketing', 'Senior Product Manager',
       'Entry Level Management Consultant',
       'Finance Analyst - Power Market', 'Medical Records Technician',
       'Business Management Trainee - Entry Level',
       'Analyst - Market Reports (Life Sciences)',
       'Financial Analyst Intern – Global FP&A',
       'Information Technology Cybersecurity Specialist (INFOSEC/SYSADMIN)',
       'Senior Analyst - Data Science (Hybrid)',
       'Growth Marketing Lead, Affiliates', 'Junior Ecommerce Manager',
       'Director of Data Science', 'Clinical Data Associate',
       'Research Data Engineer I', 'Project Manager',
       'R&D Graduate Intern', 'Quantitative Researcher',
       'Online Data Entry Assistant', 'IT Migration Data Analyst Support',
       'Digital Marketing Analytics Manager',
       'Administrative Assistant - 153641',
       'Entry-Level Software Engineer (Backend) –AI- Powered Healthcare Solutions',
       'Supply Chain Planner', 'Director of Data Analytics  - HOMELINK',
       'Project Management Intern',
       'Senior, Data Analyst | One Demand Science Team | Sunnyvale',
       'Business Systems Analyst', 'Data Science',
       'Director of Data Systems', 'Principal Data Engineer',
       'Mortgage Analyst', 'Research Assistant',
       'Marketing Specialist, Growth Marketing', 'IT - Analyst - Data',
       'Executive Assistant for Labor-Relations Consulting Firm',
       'Technical Business Analyst (CONTRACT)',
       'Data Analyst - Junior Level (Remote) / Full Stack Developer (Entry)',
       'Chief Technology Officer', 'Project Coordinator (Contractor)',
       'President', 'Sr Data Engineer.', 'Data Strategist',
       'Analytics Director', 'Data Science Engineer',
       'Associate, ESG Credit Risk', 'Sr Data Architect',
       'Data Literacy Program Lead', 'Research Analyst, Fair Housing',
       'Research Director',
       'Principal, Data Scientist | One Demand Science Team',
       'Junior Data Scientist entry level /AI/software programmer(Remote)',
       'Customer Success Manager, Home & Lifestyle',
       'Strategic Business Operations Lead, Community Support, Americas',
       '(USA) Principal, Data Analyst (Associate Listening)',
       'Sr Amazon Search Specialist', 'Head of Brand Marketing',
       'Data Science AI Modeler (Life Sciences Biotech)',
       'Analytical Chemist',
       'Data Entry Specialist, Pharmacy - Philadelphia, PA',
       'Health Data Analyst Sr- REMOTE', 'M&A Analyst',
       'Data Integration Specialist',
       'Revenue Cycle Management Specialist',
       'Paid Internship – Risk Reduction Specialist',
       'Regulatory Reporting Data Analyst',
       'Customer Success Manager, Mid-Market', 'Senior Data Scientist',
       'Business Analyst Pharmacy & Retail Ops',
       'University Intern, Forensic Data & Analytics',
       'Quality Review Coordinator',
       'Director of Financial Planning and Analysis',
       'Associate Administrator',
       'Director, Business Line Strategy & Analytics',
       'Data Science Executive - Life Sciences (Biotech)',
       'Entry Level Management Associate', 'Data Governance Intern',
       'Director of Data Engineering', 'AI/ML Software Engineer',
       'Recovery Coach (Entry-Level Mental Health Aide)',
       'Associate Scientist/Scientist, Psychometrics, Patient-Centered Outcomes (PCO)',
       'Data Science Intern - UNDERGRADUATE LEVEL',
       'Data Scientist Office and Procurement Services',
       'Product Owner- PSA', 'Senior AI/ML Engineer', 'ML Engineer | R&D',
       'Data Science Leadership Development Program (DSLDP) Intern',
       'Quality Control Data Entry Clerk', 'Transaction Analyst',
       'Configuration Manager',
       'Data and Performance Manager  (PCS 0923) - Department of Homelessness and Supportive Housing',
       'Data Scientist, Business Advancement Science',
       'Cyber Security Junior Analyst',
       'Program Manager – Data & Analytics Applications',
       'Remote Data Engineer - Senior', 'User Experience Researcher',
       'Job Title:  Database Marketing Analyst/Technology - Mid Level',
       'Vegetation GIS Data Specialist', 'Data Engineer III',
       'Business Management Trainee', 'Azure Data Engineer',
       'AI Training Specialist', 'Computational Biologist (93142BR)',
       'Financial Analyst, Amazon Ads Finance',
       'Property Data Collector - Rutherford County TN',
       'Customer Support Professional', 'Automotive Controller',
       'Python Developer', 'Data Entry Technician',
       'Cyber Security Analyst', 'Business Development Researcher',
       'Intern, Foundry Market Intelligence',
       'Program Administrator, Data Science (Remote)',
       'Data Scientist III (US)',
       'HRIS Specialist - $25/hr-$30/hr - Arlington, VA',
       'Quality Engineer', 'eDiscovery Analyst',
       'Human Resources & Payroll Coordinator',
       'Statistical and Claim Data Support Analyst',
       'Technical Product Manager: Databases & AI Startup',
       'Clinical Informatics Specialist', 'IT Analyst', 'Project Analyst',
       'ADMINISTRATIVE OFFICER I Agent Administration',
       'Investment Data Owner', 'Senior Supply Chain Analyst',
       'IT Data and Analytics Manager', 'Senior Designer',
       'Intelligence Specialist (Operations).', 'Data Modeller',
       'Workers Compensation Coordinator', 'Strategic Planner',
       'Director of Amazon', 'Research Technician I (Temporary)',
       'Director of Clinical Analytics', 'Business System Analyst',
       'Media Specialist, Paid Social', 'Software Engineer',
       'Account Executive', 'Media Trader, NY Hybrid',
       'Data Scientist, People Experience',
       'ROI Medical Records Specialist - Remote',
       'Environmental Specialist', 'BI Admin',
       'Remote Senior Data Engineer - WFH Opportunity',
       'Director of Innovation', 'Senior Technical Business Analyst',
       'Aviation Safety Analyst', 'Head of Talent Acquisition',
       'Consultant – Data Engineer', 'LAND RECORDS ANALYST 1',
       'Data Engineer Lead', 'Data Catalog Resource',
       'Behavior Specialist', 'ERP Analyst - SQL',
       'Clinical Data Manager', 'Staff Scientist',
       'R&D Design Researcher', 'Compliance Analyst',
       'TECHNICAL WRITER (EDITOR)', 'Receptionist',
       'Material Flow Data Engineer',
       'NASIC - Business Analyst (Wright Patterson Air Force Base, OH)',
       'Business Operations Associate',
       'Appraiser Trainee - Joshua Tree*', 'Advanced Data Scientist',
       'Oncology Clinical Research Coordinator',
       'Land Analyst - Entry Level - Dallas',
       'Confirmations Analyst - Gas & Power',
       'Legislative Policy Analyst (Government Relations Administrator)',
       'ADMIN ASST - HR Part-Time',
       'Healthcare Data Migration Specialist',
       'VP of Enterprise Applications', 'Marketing & Brand Coordinator',
       'Research Laboratory Technician', 'Sr. Data Intelligence Analyst',
       'Sales Analyst (Retail Data & Strategy)',
       'Data Engineer with Data Modeling - Full Time Role',
       'VP of Marketing', 'HR Analytics Specialist',
       'Project Manager – Beer & Beverage Marketing – Entry Level',
       'Financial Planning and Strategy Associate', 'Remote Scheduler',

Remove inappropriate job title from the dataset

In [ ]:
dataset = dataset.drop(dataset[dataset["job_title"] == "Don't see an opening that matches your background? Join our talent community here!"].index)

In [ ]:
results = dataset[dataset["job_title"].str.contains("data", case=False, na=False)]

array(['Remote Data Entry', 'Data Analyst Intern (Human Resources)',
       'Jr Data Scientist', 'Data Analyst', 'Data Scientist Intern',
       'Agency Data Analyst',
       "Analytics/Data Science Master's Level Internship (Summer 2025 - Remote)",
       'Data Analytics Intern',
       'Graduate Student Data Scientist - Intern',
       'Fully Remote Data Entry Clerk / Work From Home Typist',
       'Data Analyst - Fully Remote in the US', 'Product Data Scientist',
       'Staff Data Analyst, Credit Analytics',
       'Remote Data Entry Clerk / Typing - Part Time or Full Time',
       'Data Entry - Remote (WFH)',
       'Data Scientist I - User Growth Analytics (LatAm)',
       'Virtual Data Entry Clerk', 'Data Analyst I',
       'Data analyst with Python', 'Data and Insights Analyst',
       'Data and Visualization Analyst', 'Entry Level Data Analyst',
       'Business Data Analyst', 'Data Entry Clerk',
       'Data Entry Specialist - Tempe', 'Data Engineer Intern',
       'Data Entry Admin', 'Data Engineer', 'Data Entry Clerk *ASAP*',
       'Data Scientist, RWE Clinical Trials - Remote',
       'Data Entry Specialist', 'Admin Data Entry Clerk - Remote',
       'Senior Data Analysis Specialist', 'Data Scientist II',
       'Junior Level Business/Data Analyst',
       'Regional Manager, Data Center Operations (Americas)',
       'Senior Data Engineer', 'Senior Director, Data Science',
       'Data Quality Analyst', 'Associate Data Scientist',
       'Data Scientist',
       'Data & Operations Associate, Climate Careers Central Valley',
       'Data Research Intern', 'Data Engineer - Healthcare',
       'Energy Systems Data Scientist', 'Data Entry/Processing Clerk',
       'Remote Data Entry Clerk - FULLY REMOTE', 'Data Engineer - REMOTE',
       'Analyst Data with Expertise in Management and Reporting',
       'Health Plan Data Analyst', 'HR Data Analytics Analyst',
       'Business Analyst (Clinical Data)',
       '- Houston Scientist Failure Data (OFSE-ST) Predictive Analytics',
       'Data Science Intern', 'Data Modeler', 'Data Analyst III - Remote',
       'Data Science Manager',
       'Data and Statistical Science for Evidence Generation Intern NJ',
       'Data Governance Consultant', 'Remote Marketing Data Analyst',
       'Data Scientist (Associate Researcher) for MS Proteomics',
       'Data Entry Associate', 'Data Integrations Associate',
       'Analyst III, Business Data',
       'Staples Digital Solutions (Technology) - Data Engineer Co-Op (Hybrid) - July 2025',
       'Virtual Travel Data Entry (Entry Level)',
       'Data Technician - Surveying',
       'Data Analytics Training & Internship', 'Marketing Data Analyst',
       'Data Driven Analysis Intern - Summer 2025 - Plano, TX',
       'Data Analyst 1 - 3477', 'ETL Analyst/Data Scientist',
       'Data Science Analyst', 'Data Analyst - Junior Level (Remote)',
       'Data Analyst (W2 Only)', 'Data Reporting Analyst',
       'Data Entry Clerk (46607)', 'Data Analyst (IAC24216)',
       'Data Modeler - REMOTE', 'Data Management Analyst III',
       'Data Analytics and AI Developer - Contract',
       'Research Data Analyst',
       'Substantial Damage Assessment Data Processor',
       'Remote Client Coordinator | WFH Healthcare Data Entry Specialist',
       'Data Entry (Contract)', 'Data Scientist, Pharma',
       'Operations Data Analyst', 'Data Entry Specialist - Junior',
       'Associate- Data Engineer', 'Sr. Data Scientist',
       'End-of-Life (Technology Roadmap Compliance) Data Analyst and Reporting - Associate',
       'Quality Data Analyst', 'Data Science Vice President',
       'Senior Data Analyst/Analytics',
       'Data Analyst, Bureau of Hepatitis, HIV, and STI',
       'Data Analyst: Digital Learning at UT - UTK',
       'Data Scientist, Executive Analytics',
       'Junior Data Analyst/Engineer', 'Data Admin/Analyst',
       'Data Analyst, Data Analytics & Reporting',
       'Clinical Research Data Coordinator I - 134426',
       'AI/ML Data Scientist Intern',
       'Technology Systems Analyst I/II - Data Analyst',
       'Director of AI - Data & Infrastructure',
       'Data Scientist - Generative AI Applications',
       'Senior Data Analyst',
       'Data Entry Clerk Work From Home - Part Time Focus Group Panelists',
       'Data Analyst-Supply Chain', 'Data Analyst Senior or Lead',
       'Data Analytics Intern (Summer 2025)', 'Data Warehouse Analyst',
       'Data Analyst, Partnership Strategies',
       'Data Engineering Manager, Analytics',
       'DATA ENTRY ADMIN ASSISTANT (FULL TIME)',
       'Data Engineering Intern', 'Data Analyst (Portfolio Analytics)',
       'Healthcare Data Analyst', 'DATA ENTRY CLERK',
       'Data Entry for Accounting Team Support',
       'Founding AI and Data Engineer',
       'Healthcare Data Integration Specialist',
       'Research and Data Analysis Intern - Summer 2025',
       'Data Entry Operator',
       'Data Science Summer Intern - GRADUATE-LEVEL',
       'Senior Director, Data Center Solutions',
       'Data Science Virtual Internship',
       'Quality Compliance Data Steward',
       'Data Analyst - P&C Insurance Industry',
       'Senior Analyst/Data Business - REMOTE - One Year Contract - 740337',
       'Research and Data Team Supervisor (Court Programs Analyst III).',
       'Lead Data Scientist',
       'Data Analyst-Population Health and Care Management (Full- time Remote, North Carolina Based)',
       'Data Engineer-Spark, Python, Databricks', 'Data Analystics',
       'Assoc. Principal/Principal Bioinformatics Data Scientist',
       'Quality Control Data Analyst (Toxicity)',
       'Associate Data Analyst',
       '* UN Women: Data Analysis and Monitoring Specialist, New York, USA, P3 FTA',
       'Data Science/Analytics Intern - Temporary Part-Time',
       'Operations Data Administrator', 'Sr. Data Engineer',
       'Junior Data Scientist/Engineer', '(USA) Data Scientist III',
       'Document Processing and Data Entry Specialist',
       'Business Analyst/Data Management', 'Data Analyst with Automation',
       'Assistant Professor of Statistics and Data Science',
       'Clinical Research Data Coordinator',
       'Systems Analyst, Data and Merchandising', 'Data Technician',
       'Production Data Specialist',
       'Data Science Leadership Development Program (DSLDP) Associate Data Scientist',
       'Data Entry Customer Service Agent',
       'Hochschulpraktikant/-in Data Analytics',
       'Senior Data Scientist - Risk and Fraud Management',
       'Head of Data Engineering (Clinical)', 'Senior Data Architect',
       'Senior Data & Reporting Specialist',
       'Data Entry Clerk and Quality Control M-F 9am to 5:30pm',
       'Data Manager', 'Head of Data Management & Strategy',
       'D&A Case Management and Data Analytics Specialist',
       'Senior Analyst - Data Science (Hybrid)',
       'Director of Data Science', 'Clinical Data Associate',
       'Research Data Engineer I', 'Online Data Entry Assistant',
       'IT Migration Data Analyst Support',
       'Director of Data Analytics  - HOMELINK',
       'Senior, Data Analyst | One Demand Science Team | Sunnyvale',
       'Data Science', 'Director of Data Systems',
       'Principal Data Engineer', 'IT - Analyst - Data',
       'Data Analyst - Junior Level (Remote) / Full Stack Developer (Entry)',
       'Sr Data Engineer.', 'Data Strategist', 'Data Science Engineer',
       'Sr Data Architect', 'Data Literacy Program Lead',
       'Principal, Data Scientist | One Demand Science Team',
       'Junior Data Scientist entry level /AI/software programmer(Remote)',
       '(USA) Principal, Data Analyst (Associate Listening)',
       'Data Science AI Modeler (Life Sciences Biotech)',
       'Data Entry Specialist, Pharmacy - Philadelphia, PA',
       'Health Data Analyst Sr- REMOTE', 'Data Integration Specialist',
       'Regulatory Reporting Data Analyst', 'Senior Data Scientist',
       'University Intern, Forensic Data & Analytics',
       'Data Science Executive - Life Sciences (Biotech)',
       'Data Governance Intern', 'Director of Data Engineering',
       'Data Science Intern - UNDERGRADUATE LEVEL',
       'Data Scientist Office and Procurement Services',
       'Data Science Leadership Development Program (DSLDP) Intern',
       'Quality Control Data Entry Clerk',
       'Data and Performance Manager  (PCS 0923) - Department of Homelessness and Supportive Housing',
       'Data Scientist, Business Advancement Science',
       'Program Manager – Data & Analytics Applications',
       'Remote Data Engineer - Senior',
       'Job Title:  Database Marketing Analyst/Technology - Mid Level',
       'Vegetation GIS Data Specialist', 'Data Engineer III',
       'Azure Data Engineer',
       'Property Data Collector - Rutherford County TN',
       'Data Entry Technician',
       'Program Administrator, Data Science (Remote)',
       'Data Scientist III (US)',
       'Statistical and Claim Data Support Analyst',
       'Technical Product Manager: Databases & AI Startup',
       'Investment Data Owner', 'IT Data and Analytics Manager',
       'Data Modeller', 'Data Scientist, People Experience',
       'Remote Senior Data Engineer - WFH Opportunity',
       'Consultant – Data Engineer', 'Data Engineer Lead',
       'Data Catalog Resource', 'Clinical Data Manager',
       'Material Flow Data Engineer', 'Advanced Data Scientist',
       'Healthcare Data Migration Specialist',
       'Sr. Data Intelligence Analyst',
       'Sales Analyst (Retail Data & Strategy)',
       'Data Engineer with Data Modeling - Full Time Role',
       'Field Data Collector - Boston, MA.',
       'Data Entry/ Specimen Processor', 'Technical Data Program Manager',
       'Junior ML Engineer (Remote) / Junior Data Analyst',
       'Data Scientist - Predictive Failure Analytics (OFSE-ST) Houston',
       "Executive Director, Alzheimer's Disease Data Initiative",
       'Data Science Application Developer', 'Data Engineering Manager',
       'Global Head of R&D Data and R&D Data Process Owner',
       'Data Scientist, Fashion & Fitness, Catalog, Creators',
       'Technical Data Specialist', 'Senior Data Scientist, Banking',
       'Data Analyst / Architect',
       'Data Entry Processor - Family Nutrition Program (Remote or Hybrid Option)',
       'Senior Data Scientist - Healthcare',
       'REMOTE - Data Governance Analyst (World News And Report Experience)',
       'Data Engineer - C',
       'Research Intern - Training-Time Provenance (Data Dignity)',
       'Data Platform - Data Engineer', 'Master Data Analyst (Hybrid)',
       'AI Data Scientist', '503A Pharmacy Technician - Data Entry',
       'Health Data Analyst/Statistician (Remote)',
       'Quality Data Analyst II',
       'Product Manager, Enterprise Data - Systematic/Quant Credit',
       'Business Systems Analyst - Data (Remote, East Coast)',
       'Data Analyst II',
       'Senior Product Manager, Data Platform and APIs',
       'Data Engineer &#8211; hybrid', 'Manager, Data Governance',
       'Data Solutions Architect', 'Data Engineer IV',
       'Crypto Data Engineer (Capetown -Remote)',
       'Data Engineer-INTL- Colombia', '2025 Data Engineer Intern - NYC',
       'Data Engineer - Investment Data; Asset Management; Fixed Income; Equities',
       'Data Warehouse Architect', 'Data Governance Associate',
       'Manager, Data Science', 'People Data Coordinator',
       'Junior Software Developer / Data Scientist - Fresher',
       'Order Entry Data Analyst', 'Associate Scientist, Data Review',
       'Intern- Data Solutions', 'Data Governance Analyst',
       'Data and Analytics Administrator',
       'Data Scientist II, Tissue Engineering',
       'Transportation Data Analyst', 'Data Engineer II (Growth)',
       'Sr Clinical Data Manager', 'Data and Records Processor',
       'Director, Data Center Specialist',
       'Data Science/Predictive Modeler Intern',
       'Sr. Finance & Data Analyst', 'Data Center Technician',
       'Senior Data Scientist - Hardware & Reliability',
       'Data Protection Administrator',
       'Junior Data Scientist / Junior Software Developer',
       'Sustainability Data Analyst (Summer Temp)', 'Database Developer',
       'Research Data Coordinator Health Disparities Research',
       'Data Center Engineer', 'CSR/Data Entry',
       'Director, Data Analytics & Strategic Insights',
       'Customer Data Analyst (US Remote)', 'Staff Data Scientist',
       'Administrative Assistant - Data & Analytical Platforms - Drug Development BI&T',
       'Data Analyst OR Senior Data Analyst- Revenue Operations',
       'Data and Applied Scientist II',
       'Business Analyst II Data,Rept&Vis',
       'Senior Data Engineer - 1 Year Contract HYBRID - Raleigh Residents Only - 743008',
       'Data Science Leadership Development Program (DSLDP) Sr. Associate Data Scientist',
       'Data Security Analyst', 'RESEARCH DATA ANALYST II',
       'Director of Data Insights & Sales Enablement',
       'Associate - Capital & Data Risk / IM Risk (Risk Management)',
       'Property Data Collector - Mohave County, AZ',
       'Director, Global Data Strategy and Solutions'], dtype=object)

The focus is on roles related to Data Analyst, Data Scientist, Data Engineer, Data Analytics, and Data Entry. Job titles containing these keywords (with variations) in the job_title column have been standardized to their respective roles to maintain consistency in the analysis.

In [ ]:
dataset.loc[dataset["job_title"].str.contains("data analyst", case=False, na=False), "job_title"]="Data Analyst"
dataset.loc[dataset["job_title"].str.contains(r"data\s*(scientist|science)", case=False, na=False), "job_title"]="Data Scientist"
dataset.loc[dataset["job_title"].str.contains("data engineer", case=False, na=False), "job_title"]="Data Engineer"
dataset.loc[dataset["job_title"].str.contains("data analytics", case=False, na=False), "job_title"]="Data Analytics"
dataset.loc[dataset["job_title"].str.contains("data entry", case=False, na=False), "job_title"]="Data Entry"

/var/folders/nl/mq6lrx555337t5yq69ftc0jr0000gn/T/ipykernel_20627/1007938783.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  dataset.loc[dataset["job_title"].str.contains(r"data\s*(scientist|science)", case=False, na=False), "job_title"]="Data Scientist"

The salary data was initially in a range format. For the analysis the values were split into two separate columns: min_salary and max_salary.

In [ ]:
salary = dataset["salary"].str.split("-", expand=True)
dataset["min_salary"] = salary[0]
dataset["max_salary"] = salary[1]

In [ ]:
dataset = dataset.drop("salary", axis=1)

In [ ]:
dataset.head()

,job_title,job_description,seniority_level,employment_type,company_name,location,time_posted,num_applicants,job_link,min_salary,max_salary
0,Data Entry,Company Overview\nFormapelec is a dynamic and ...,Entry level,Full-time,FORMAPELEC,United States,9 hours ago,None,https://www.linkedin.com/jobs/view/remote-data...,"$40,000.00/yr","$54,000.00/yr"
1,Data Analyst,Job Description\nData Analyst Intern\nThe Iowa...,Internship,Internship,State of Iowa - Executive Branch,"Ames, IA",None,70 applicants,https://www.linkedin.com/jobs/view/data-analys...,None,None
2,Data Scientist,Company Description\nWho We Are:\nSpring Ventu...,Mid-Senior level,Full-time,Spring Venture Group,"Kansas City, MO",20 hours ago,None,https://www.linkedin.com/jobs/view/jr-data-sci...,None,None
3,Data Analyst,Our client is seeking a skilled Data Analyst t...,Associate,Part-time,Stealth Startup,United States,None,None,https://www.linkedin.com/jobs/view/data-analys...,None,None
4,Data Scientist,Cardiosense is a digital health company that o...,Not Applicable,Internship,Cardiosense,"Chicago, IL",None,None,https://www.linkedin.com/jobs/view/data-scient...,None,None

The salary column contains both annual and hourly rates. To standardize the values, hourly rates were converted to annual salaries by multiplying the hourly rate by 40 hours per week and 52 weeks per year. The conversion was applied to both min_salary and max_salary columns.

In [ ]:
def convert_hourly_salary_to_anuual(salary):
    if salary:
        salary = salary.replace("$", "")
        if "hr" in salary:
            hourly_rate = salary.split("/")[0]
            yearly_salary = float(hourly_rate) * 40 * 52
            return yearly_salary
        elif "yr" in salary:
            annual_salary = salary.split("/")[0]
            return annual_salary
    else:
        return None

dataset["min_salary"] = dataset["min_salary"].apply(convert_hourly_salary_to_anuual)
dataset["max_salary"] = dataset["max_salary"].apply(convert_hourly_salary_to_anuual)

In [ ]:
dataset.head()

,job_title,job_description,seniority_level,employment_type,company_name,location,time_posted,num_applicants,job_link,min_salary,max_salary
0,Data Entry,Company Overview\nFormapelec is a dynamic and ...,Entry level,Full-time,FORMAPELEC,United States,9 hours ago,None,https://www.linkedin.com/jobs/view/remote-data...,"40,000.00","54,000.00"
1,Data Analyst,Job Description\nData Analyst Intern\nThe Iowa...,Internship,Internship,State of Iowa - Executive Branch,"Ames, IA",None,70 applicants,https://www.linkedin.com/jobs/view/data-analys...,None,None
2,Data Scientist,Company Description\nWho We Are:\nSpring Ventu...,Mid-Senior level,Full-time,Spring Venture Group,"Kansas City, MO",20 hours ago,None,https://www.linkedin.com/jobs/view/jr-data-sci...,None,None
3,Data Analyst,Our client is seeking a skilled Data Analyst t...,Associate,Part-time,Stealth Startup,United States,None,None,https://www.linkedin.com/jobs/view/data-analys...,None,None
4,Data Scientist,Cardiosense is a digital health company that o...,Not Applicable,Internship,Cardiosense,"Chicago, IL",None,None,https://www.linkedin.com/jobs/view/data-scient...,None,None

In [ ]:
dataset["num_applicants"].unique()

array([None, '70 applicants', '134 applicants', '97 applicants',
       '86 applicants', '124 applicants', '69 applicants',
       '162 applicants', '139 applicants', '199 applicants',
       '125 applicants', '196 applicants', '113 applicants',
       '25 applicants', '74 applicants', '30 applicants', '47 applicants',
       '58 applicants', '132 applicants', '111 applicants',
       '38 applicants', '88 applicants', '48 applicants',
       '118 applicants', '114 applicants', '50 applicants',
       '42 applicants', '193 applicants', '190 applicants',
       '75 applicants', '79 applicants', '73 applicants', '41 applicants',
       '52 applicants', '46 applicants', '159 applicants',
       '40 applicants', '187 applicants', '27 applicants',
       '188 applicants', '67 applicants', '63 applicants',
       '106 applicants', '29 applicants', '34 applicants',
       '103 applicants', '68 applicants', '28 applicants',
       '35 applicants', '189 applicants', '136 applicants',
       '137 applicants', '57 applicants', '39 applicants',
       '54 applicants', '72 applicants', '31 applicants', '26 applicants',
       '49 applicants', '145 applicants', '127 applicants',
       '53 applicants', '157 applicants', '45 applicants',
       '131 applicants', '155 applicants', '36 applicants',
       '84 applicants', '147 applicants', '181 applicants',
       '182 applicants', '148 applicants', '90 applicants',
       '87 applicants', '61 applicants', '129 applicants',
       '60 applicants', '140 applicants', '174 applicants',
       '116 applicants', '158 applicants', '109 applicants',
       '56 applicants', '107 applicants', '104 applicants',
       '43 applicants', '171 applicants', '51 applicants',
       '142 applicants', '80 applicants', '195 applicants',
       '149 applicants', '130 applicants', '82 applicants',
       '197 applicants', '152 applicants', '156 applicants',
       '76 applicants', '64 applicants', '115 applicants',
       '135 applicants', '176 applicants', '184 applicants',
       '143 applicants', '177 applicants', '99 applicants',
       '160 applicants', '91 applicants', '92 applicants',
       '95 applicants', '65 applicants', '192 applicants',
       '168 applicants', '128 applicants', '33 applicants',
       '66 applicants', '110 applicants', '138 applicants',
       '172 applicants', '108 applicants', '44 applicants',
       '59 applicants', '93 applicants', '37 applicants', '55 applicants',
       '94 applicants', '101 applicants', '169 applicants',
       '71 applicants', '32 applicants', '117 applicants',
       '105 applicants', '77 applicants', '112 applicants',
       '121 applicants', '165 applicants', '85 applicants',
       '83 applicants', '62 applicants', '173 applicants',
       '150 applicants', '133 applicants', '164 applicants',
       '126 applicants', '98 applicants', '81 applicants',
       '146 applicants', '96 applicants', '180 applicants',
       '119 applicants'], dtype=object)

In [ ]:
def remove_texts_from_applicants(applicant):
    if applicant:
        applicant = applicant.replace("applicants", "")
        return int(applicant)
    else:
        return 0

dataset["num_applicants"] = dataset["num_applicants"].apply(remove_texts_from_applicants)

The num_applicants column contains text along with numeric values. To clean the data, the text "applicants" was removed, and the remaining numeric values were converted to integers. Rows without values were set to 0.

In [ ]:
 dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1177 entries, 0 to 8924
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_title        1177 non-null   object
 1   job_description  1177 non-null   object
 2   seniority_level  1177 non-null   object
 3   employment_type  1177 non-null   object
 4   company_name     1177 non-null   object
 5   location         1177 non-null   object
 6   time_posted      880 non-null    object
 7   num_applicants   1177 non-null   int64
 8   job_link         1177 non-null   object
 9   min_salary       575 non-null    object
 10  max_salary       575 non-null    object
dtypes: int64(1), object(10)
memory usage: 110.3+ KB

In [ ]:
dataset["min_salary"] = dataset["min_salary"].str.replace(",", '').astype(float)
dataset["max_salary"] = dataset["max_salary"].str.replace(",", '').astype(float)

In [ ]:
dataset["location"].unique()

array(['United States', 'Ames, IA', 'Kansas City, MO', 'Chicago, IL',
       'Denver, CO', 'Atlanta, GA', 'Salt Lake City, UT',
       'Lake Oswego, OR', 'Scranton, PA', 'Burbank, CA', 'Anaheim, CA',
       'Washington County, OR', 'Cincinnati Metropolitan Area',
       'Durham, NC', 'Houston, TX', 'New York, NY',
       'Omaha Metropolitan Area', 'Fort Stewart, GA', 'Santa Monica, CA',
       'Killeen, TX', 'Dallas, TX', 'San Jose, CA', 'Beverly Hills, CA',
       'Austin, TX', 'Atlanta Metropolitan Area', 'Washington, DC',
       'Hialeah, FL', 'Los Angeles, CA', 'Seattle, WA', 'New Albany, OH',
       'Jefferson City, MO', 'McLean, VA', 'Tempe, AZ', 'Newark, NJ',
       'New York County, NY', 'Boston, MA', 'Irving, TX', 'Tampa, FL',
       'Deerfield, IL', 'Raleigh, NC', 'Austin, Texas Metropolitan Area',
       'Hawthorne, CA', 'Tucson, AZ', 'Bellevue, WA',
       'Colorado, United States', 'Alpharetta, GA', 'Ashburn, VA',
       'Bozeman, MT', 'Denver Metropolitan Area', 'Carbondale, CO',
       'Lake Mary, FL', 'San Francisco, CA', 'Fresno, CA',
       'Basking Ridge, NJ', 'Chantilly, VA', 'Springfield, OH',
       'Norwalk, CT', 'Palo Alto, CA', 'Santa Ana, CA', 'Stockton, CA',
       'Bronx, NY', 'Arizona, United States', 'Texas, United States',
       'Pala, CA', 'Frisco, TX', 'Reno, NV', 'San Diego, CA',
       'Arlington, VA', 'Altamonte Springs, FL', 'Foster City, CA',
       'Phoenix, AZ', 'Mountain View, CA', 'Louisville, KY',
       'Boulder, CO', 'Homestead, FL', 'Jersey City, NJ', 'Alameda, CA',
       'Florida, United States', 'Jonesboro, AR', 'Lexington, KY',
       'Woburn, MA', 'St Louis, MO', 'Morrisville, NC', 'Framingham, MA',
       'Suitland, MD', 'Beaverton, OR', 'Fort Worth, TX',
       'Little Rock, AR', 'Iowa City, IA', 'Akron, OH', 'Plano, TX',
       'Albany, NY', 'Hurlburt Field, FL', 'Glen Allen, VA',
       'Charlotte, NC', 'Manhattan, KS', 'Richfield, OH',
       'Rancho Cucamonga, CA', 'Santa Clara County, CA',
       'Spokane Valley, WA', 'Bothell, WA', 'Edison, NJ', 'Orlando, FL',
       'Quantico, VA', 'Gainesville, FL', 'Newport Beach, CA',
       'Durango, CO', 'Stanford, CA', 'St. Petersburg, FL',
       'Rockford, IL', 'Clearwater, FL', 'Aurora, CO',
       'Washington DC-Baltimore Area', 'Bluefield, VA',
       'Indiana, United States', 'Syracuse, NY', 'Hennepin County, MN',
       'Ann Arbor, MI', 'Bradenton, FL', 'Indianapolis, IN',
       'San Ramon, CA', 'San Francisco Bay Area', 'Elgin, IL',
       'Jacksonville, FL', 'Philadelphia, PA', 'Duncan, SC',
       'Overland Park, KS', 'Sarasota, FL', 'Rochester, NY',
       'Tysons Corner, VA', 'Nellis AFB, NV', 'New York, United States',
       'Queens, NY', 'Colorado Springs, CO', 'North Liberty, NC',
       'Knoxville, TN', 'Los Angeles Metropolitan Area',
       'Washington Highlands, MD', 'Loveland, CO',
       'Maryland, United States', 'Alexandria, VA', 'Watertown, SD',
       'Center, IN', 'Sussex, WI', 'Michigan City, IN', 'Waco Area',
       'Liberty Lake, WA', 'Bakersfield, CA', 'Sunnyvale, CA',
       'Minneapolis, MN', 'Columbia, SC', 'Fargo, ND',
       'Greater Harrisburg Area', 'Baltimore, MD', 'Portland, OR',
       'Fremont, CA', 'Waltham, MA', 'Peoria, AZ', 'Lithia Springs, GA',
       'Glen Burnie, MD', 'Pittsburgh, PA', 'Cary, NC', 'Naples, FL',
       'San Diego County, CA', 'Santa Clara, CA',
       'New York City Metropolitan Area', 'Coppell, TX', 'Huntsville, AL',
       'Louisville, GA', 'Clark, NJ', 'Allentown, PA',
       'Oklahoma City, OK', 'Miami, FL', 'Lansing, MI',
       'Fort Lauderdale, FL', 'Tallahassee, FL',
       'Washington, United States', 'Groveport, OH', 'Omaha, NE',
       'Nashville, TN', 'Bentonville, AR', 'Irvine, CA',
       'University Park, PA', 'Marshfield, WI', 'Westlake, TX',
       'Baton Rouge, LA', 'Lone Tree, CO', 'City of Industry, CA',
       'Addison, TX', 'Livonia, MI', 'Franklin, MA', 'Matthews, NC',
       'Sleepy Eye, MN', 'Hartford, CT', 'Detroit Metropolitan Area',
       'Elkhart County, IN', 'California, United States',
       'Headquarters, KY', 'Columbus, OH', 'Carson City, NV',
       'Kentucky, United States', 'Lake Buena Vista, FL',
       'Old Greenwich, CT', 'Detroit, MI', 'Fallbrook, CA',
       'Fairfield, TX', 'Delaware, United States', 'Trevose, PA',
       'Fort Belvoir, VA', 'North Andover, MA', 'San Antonio, TX',
       'Patterson, OH', 'Redmond, WA', 'Waterloo, IA', 'Lakewood, CO',
       'Juno Beach, FL', 'Marlborough, MA', 'Barre Town, VT',
       'Reading, PA', 'Tulsa, OK', 'Fulton, MD', 'Smyrna, DE',
       'Trenton, PA', 'Kansas City, KS', 'Smyrna, GA', 'Salem, OR',
       'Merchantville, NJ', 'Greater Boston', 'Greater Milwaukee',
       'Salisbury, NC', 'Murrieta, CA', 'Hillsboro, OH',
       'Massachusetts, United States', 'Napa, CA', 'Greater Seattle Area',
       'Plantation, FL', 'South San Francisco, CA', 'Falls Church, VA',
       'Hagerstown, MD', 'Brighton, MI', 'Concord, NC', 'Iselin, NJ',
       'Cambridge, MA', 'Jal, NM', 'New Haven, CT', 'Murfreesboro, TN',
       'Kalamazoo, MI', 'Tennessee, United States', 'Mount Laurel, NJ',
       'Goleta, CA', 'Richardson, TX', 'Shreveport, LA', 'Rover, AR',
       'Buckley AFB, CO', 'Issaquah, WA', 'Fort Moore, GA', 'Buffalo, NY',
       'Bismarck, ND', 'Larkspur, CA', 'Mooresville, NC', 'Oxon Hill, MD',
       'Greater Chicago Area', 'Wayne, PA', 'Westfield, MA',
       'Midvale, UT', 'Reston, VA', 'Warner Robins, GA',
       'West Des Moines, IA', 'Aberdeen Proving Ground, MD', 'Sparks, NV',
       'Dayton, OH', 'San Bernardino County, CA', 'Greenville, SC',
       'Statesville, NC', 'Patuxent River, MD', 'Redondo Beach, CA',
       'Portland, Oregon Metropolitan Area', 'Pennsauken, NJ',
       'Long Beach, CA', 'Smithfield, RI', 'Fort Smith, AR',
       'Wisconsin, United States', 'San Marcos, CA', 'Mesa, AZ',
       'Seneca, PA', 'Newark, CA', 'Boca Raton, FL', 'Santa Rosa, CA',
       'Chapel Hill, NC', 'Greenville, MS', 'Mountain Lakes, NJ',
       'Scottsdale, AZ', 'Salinas, CA', 'Chanhassen, MN',
       'Wilkes-Barre, PA', 'Itasca, IL', 'Breckenridge, CO',
       'Cleveland, OH', 'Westbrook, ME', 'Greater Cleveland',
       'Des Moines, IA', 'Libertyville, IL',
       'North Carolina, United States', 'Columbia, MO',
       'State College-DuBois Area', 'Dallas-Fort Worth Metroplex',
       'Englewood, CO', 'Utica-Rome Area', 'Redwood City, CA',
       'Hershey, PA', 'Missouri, United States', 'Louisville, CO',
       'Tolleson, AZ', 'Michigan, United States', 'Westford, MA',
       'Tupelo, MS', 'La Grange, IL', 'Oregon, United States',
       'Fort Collins, CO', 'Boise, ID', 'Bend, OR', 'West Lafayette, IN',
       'West Bloomfield Township, MI', 'Auburn Hills, MI',
       'Coal City, IN', 'Heber City, UT', 'Kent, WA', 'Ogden, UT',
       'Raleigh-Durham-Chapel Hill Area', 'Millington, TN',
       'Celebration, FL', 'Bellingham, WA', 'Daytona Beach, FL',
       'McPherson, KS', 'South Jordan, UT', 'Portales, NM', 'Oakland, CA',
       'Woodbridge, NJ', 'Lakeland, FL', 'Herndon, VA',
       'East Providence, RI', 'San Diego Metropolitan Area',
       'Glendale, CA', 'Home, PA', 'Everett, WA', 'Charlotte Metro',
       'Evansville, IN', 'Brooklyn, NY', 'Lowell, MA', 'Riverwoods, IL',
       'State College, PA', 'Placentia, CA', 'Mettawa, IL',
       'Columbus, MS', 'Oostburg, WI', 'Denair, CA', 'Princeton, NJ',
       'New Orleans, LA', 'Poway, CA', 'Peoria, IL', 'Ramsey, MN',
       'King George, VA', 'Riverside, CA', 'Rancho Cordova, CA',
       'Fremont, OH', 'Edenton, NC', 'Mercer Island, WA', 'Pawtucket, RI',
       'Sierra Vista, AZ', 'Sacramento County, CA', 'Columbia, MD',
       'Wellesley Hills, MA', 'Brentwood, TN', 'Branchburg, NJ',
       'Homewood, IL', 'New Bedford, MA', 'Joliet, IL', 'Wilmington, DE',
       'Dublin, OH', 'Folsom, CA', 'Montgomery, MN',
       'Columbus, Ohio Metropolitan Area', 'Garden City, SC',
       'Lake Havasu City, AZ', 'Morristown, NJ', 'Manhattan, NY'],
      dtype=object)

For state based job analysis state_abbr column was created by extracting the state abbreviation from the location column.

In [ ]:
dataset["state_abbr"] = dataset["location"].apply(lambda location: location.split(",")[1].strip() if "," in location else None)

In [ ]:
dataset.head(50)

,job_title,job_description,seniority_level,employment_type,company_name,location,time_posted,num_applicants,job_link,min_salary,max_salary,state_abbr
0,Data Entry,Company Overview\nFormapelec is a dynamic and ...,Entry level,Full-time,FORMAPELEC,United States,9 hours ago,0,https://www.linkedin.com/jobs/view/remote-data...,40000.0,54000.0,None
1,Data Analyst,Job Description\nData Analyst Intern\nThe Iowa...,Internship,Internship,State of Iowa - Executive Branch,"Ames, IA",None,70,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,IA
2,Data Scientist,Company Description\nWho We Are:\nSpring Ventu...,Mid-Senior level,Full-time,Spring Venture Group,"Kansas City, MO",20 hours ago,0,https://www.linkedin.com/jobs/view/jr-data-sci...,NaN,NaN,MO
3,Data Analyst,Our client is seeking a skilled Data Analyst t...,Associate,Part-time,Stealth Startup,United States,None,0,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,None
4,Data Scientist,Cardiosense is a digital health company that o...,Not Applicable,Internship,Cardiosense,"Chicago, IL",None,0,https://www.linkedin.com/jobs/view/data-scient...,NaN,NaN,IL
5,Data Analyst,The Stellarix Group\nAgency Data Analyst\nRepo...,Mid-Senior level,Full-time,MassMutual,"Denver, CO",None,0,https://www.linkedin.com/jobs/view/agency-data...,80000.0,95000.0,CO
6,Data Scientist,Req125243\nInternship Overview\nThe Home Depot...,Not Applicable,Full-time,The Home Depot,"Atlanta, GA",12 hours ago,134,https://www.linkedin.com/jobs/view/analytics-d...,NaN,NaN,GA
7,Data Analytics,Department:\nTechnology\nLocation:\nSalt Lake ...,Internship,Internship,Freezing Point,"Salt Lake City, UT",22 hours ago,97,https://www.linkedin.com/jobs/view/data-analyt...,NaN,NaN,UT
8,Data Scientist,About Us\nRapta is revolutionizing American ma...,Internship,Part-time,"Rapta, Inc.","Lake Oswego, OR",6 hours ago,86,https://www.linkedin.com/jobs/view/graduate-st...,NaN,NaN,OR
9,Data Entry,Job Overview\nJoin our esteemed Learning & Dev...,Entry level,Full-time,Forever Software,"Scranton, PA",7 hours ago,124,https://www.linkedin.com/jobs/view/fully-remot...,NaN,NaN,PA
19,"Research & Analytics Intern, Summer 2025",About the Role & Program:\nDisney Entertainmen...,Mid-Senior level,Internship,The Walt Disney Company,"Burbank, CA",6 hours ago,69,https://www.linkedin.com/jobs/view/research-an...,NaN,NaN,CA
24,Data Analyst,Job Summary\nThe Analytics team at WorkCare pr...,Entry level,Full-time,"WorkCare, Inc.","Anaheim, CA",21 hours ago,162,https://www.linkedin.com/jobs/view/data-analys...,95000.0,100000.0,CA
38,Data Scientist,Rec Room is the best place to build and play g...,Entry level,Full-time,Rec Room,"Washington County, OR",19 hours ago,139,https://www.linkedin.com/jobs/view/product-dat...,130313.0,156672.0,OR
39,Data Analyst,About Upstart\nUpstart is a leading AI lending...,Mid-Senior level,Full-time,Upstart,United States,19 hours ago,199,https://www.linkedin.com/jobs/view/staff-data-...,157000.0,217500.0,None
45,Data Entry,Job Overview\nJoin our esteemed Learning & Dev...,Entry level,Full-time,Forever Software,"Scranton, PA",7 hours ago,125,https://www.linkedin.com/jobs/view/fully-remot...,NaN,NaN,PA
49,Data Analyst,Job Title: BI Dashboard Analyst - Level 1\nDur...,Associate,Contract,Flexton Inc.,Cincinnati Metropolitan Area,23 hours ago,0,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,None
56,Data Entry,Job Overview\nWe are actively seeking a dilige...,Entry level,Contract,Descanso Dermatology Medical,"Durham, NC",18 hours ago,196,https://www.linkedin.com/jobs/view/remote-data...,NaN,NaN,NC
58,Data Entry,Job Title:\nData Entry - Remote (WFH)\nLocatio...,Entry level,Full-time,LoveBound Destinations,"Houston, TX",19 hours ago,113,https://www.linkedin.com/jobs/view/data-entry-...,NaN,NaN,TX
69,Data Scientist,We are looking for a Data Scientist to join th...,Entry level,Full-time,Spotify,"New York, NY",None,0,https://www.linkedin.com/jobs/view/data-scient...,89083.0,127262.0,NY
74,Data Entry,Job Title:\nVirtual Data Entry Clerk\nLocation...,Entry level,Full-time,Consulting By StarStream,United States,20 hours ago,0,https://www.linkedin.com/jobs/view/virtual-dat...,NaN,NaN,None
76,Digital Marketing Manager,Diptyque - Luxury Fragrance House has establis...,Associate,Full-time,Diptyque Paris,"New York, NY",23 hours ago,0,https://www.linkedin.com/jobs/view/digital-mar...,80000.0,100000.0,NY
89,Data Analyst,We are looking for a\nData Analyst\nto join th...,Entry level,Full-time,Malone Workforce Solutions,Omaha Metropolitan Area,23 hours ago,0,https://www.linkedin.com/jobs/view/data-analys...,55000.0,65000.0,None
99,Data Analyst,"Company Description\nLink Solutions, Inc. deli...",Mid-Senior level,Full-time,"Link Solutions, Inc.","Fort Stewart, GA",None,0,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,GA
116,"Business Analyst, Marketing, Amazon Key","Description\nAt Amazon Key, we are on a missio...",Not Applicable,Full-time,Ring,"Santa Monica, CA",12 hours ago,25,https://www.linkedin.com/jobs/view/business-an...,66900.0,143100.0,CA
117,Data Analyst,"Killeen, TX, USA Req #1810\nTuesday, January 2...",Mid-Senior level,Full-time,Solution One Industries Inc,"Killeen, TX",19 hours ago,74,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,TX
118,Data Analyst,Job Description\nMinimum 5 years of hands-on a...,Entry level,Full-time,EA Team Inc,"Dallas, TX",18 hours ago,0,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,TX
119,Growth Marketing Associate,Noom is a digital healthcare company that conn...,Entry level,Full-time,Noom,"New York, NY",22 hours ago,0,https://www.linkedin.com/jobs/view/growth-mark...,78000.0,106000.0,NY
129,Machine Learning Intern,The Mercedes-Benz AI Experiences team is seeki...,Internship,Internship,Mercedes-Benz Research & Development North Ame...,"San Jose, CA",20 hours ago,0,https://www.linkedin.com/jobs/view/machine-lea...,NaN,NaN,CA
167,Data and Insights Analyst,Job Summary\nJOB DESCRIPTION – Data and Insigh...,Entry level,Full-time,Ticketmaster,"Beverly Hills, CA",None,0,https://www.linkedin.com/jobs/view/data-and-in...,60000.0,75000.0,CA
168,"Business Analyst, Marketing, Amazon Key","Description\nAt Amazon Key, we are on a missio...",Not Applicable,Full-time,Ring,"Austin, TX",12 hours ago,30,https://www.linkedin.com/jobs/view/business-an...,66900.0,143100.0,TX
176,Data Analyst,Day to Day:\nA client of Insight Global is loo...,Associate,Full-time,Insight Global,Atlanta Metropolitan Area,None,0,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,None
178,Data and Visualization Analyst,Introduction\nThis position is located in the ...,Entry level,Full-time,DC Department of Human Resources,"Washington, DC",12 hours ago,47,https://www.linkedin.com/jobs/view/data-and-vi...,80784.0,103333.0,DC
189,Data Analyst,Description\nOur client is a leading provider ...,Associate,Full-time,SIGOOK®,"Hialeah, FL",23 hours ago,0,https://www.linkedin.com/jobs/view/data-analys...,60000.0,65000.0,FL
216,Summer 2025 Business Intelligence Internship,T-Mobile is synonymous with innovation–and you...,Internship,Internship,T-Mobile,"New York, NY",15 hours ago,0,https://www.linkedin.com/jobs/view/summer-2025...,NaN,NaN,NY
217,UX Researcher II,"Our Mission\nLaunched in 2012, Tinder® revolut...",Not Applicable,Full-time,Tinder,"Los Angeles, CA",17 hours ago,58,https://www.linkedin.com/jobs/view/ux-research...,115000.0,125000.0,CA
229,Power BI Analyst,Are you a dedicated Power BI Analyst eager to ...,Associate,Contract,Golden Technology,United States,23 hours ago,0,https://www.linkedin.com/jobs/view/power-bi-an...,NaN,NaN,None
258,Data Analyst,We’re looking for experienced and passionate D...,Associate,Full-time,Lemonade,"New York, NY",21 hours ago,0,https://www.linkedin.com/jobs/view/data-analys...,90000.0,120000.0,NY
266,Data Analyst,SYNERGISTICIT wants every candidate to know th...,Entry level,Contract,SynergisticIT,"Seattle, WA",13 hours ago,132,https://www.linkedin.com/jobs/view/entry-level...,NaN,NaN,WA
267,Policy and Research Coordinator,Young Invincibles’ mission is to amplify the v...,Entry level,Full-time,Young Invincibles,"Austin, TX",14 hours ago,0,https://www.linkedin.com/jobs/view/policy-and-...,NaN,NaN,TX
268,Data Analyst,Job Overview\nWe are seeking a dedicated and p...,Mid-Senior level,Full-time,BEOVEXIS,"New Albany, OH",7 hours ago,58,https://www.linkedin.com/jobs/view/business-da...,NaN,NaN,OH
269,Data Entry,Job Description\nJob Description\nSharpcontra ...,Entry level,Full-time,SharpContra,"Austin, TX",18 hours ago,0,https://www.linkedin.com/jobs/view/data-entry-...,NaN,NaN,TX
278,Data Analyst,"Use your data analysis skills, problem-solving...",Mid-Senior level,Full-time,Public School and Education Employee Retiremen...,"Jefferson City, MO",None,0,https://www.linkedin.com/jobs/view/data-analys...,67004.0,78729.0,MO
279,Business Analyst,The Business Analyst will facilitate assigned ...,Mid-Senior level,Full-time,Accuhealth,United States,23 hours ago,0,https://www.linkedin.com/jobs/view/business-an...,NaN,NaN,None
319,Data Analyst,Ampcus Inc. is a certified global provider of ...,Entry level,Full-time,Ampcus Inc,"McLean, VA",18 hours ago,111,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,VA
324,"Business Analyst, Marketing, Amazon Key","Description\nAt Amazon Key, we are on a missio...",Not Applicable,Full-time,Ring,"Seattle, WA",12 hours ago,38,https://www.linkedin.com/jobs/view/business-an...,66900.0,143100.0,WA
325,Data Entry,This role is 100% in-office in our Tempe locat...,Entry level,Full-time,Mindful Support Services,"Tempe, AZ",18 hours ago,0,https://www.linkedin.com/jobs/view/data-entry-...,NaN,NaN,AZ
326,Data Engineer,Overview\nDo you want to join a team that's ch...,Not Applicable,Internship,Panasonic North America,"Newark, NJ",20 hours ago,0,https://www.linkedin.com/jobs/view/data-engine...,NaN,NaN,NJ
329,Data Entry,We are looking for a Data Entry Operator to up...,Entry level,Full-time,PJ Mechanical.,"New York County, NY",18 hours ago,0,https://www.linkedin.com/jobs/view/data-entry-...,70000.0,80000.0,NY
339,Data Engineer,PILYTIX brings Explainable Artificial Intellig...,Associate,Full-time,PILYTIX,"Austin, TX",22 hours ago,88,https://www.linkedin.com/jobs/view/data-engine...,NaN,NaN,TX
359,Image Annotation Reviewer,We’re seeking detail-oriented individuals with...,Not Applicable,Other,LXT,United States,None,48,https://www.linkedin.com/jobs/view/image-annot...,NaN,NaN,None

To convert the abbreviation to states full name the new dataset that contatins the information for this is loaded.

In [ ]:
states = pd.read_csv("States.csv")
states.head()

        State Standard Postal
0     Alabama     Ala.     AL
1      Alaska   Alaska     AK
2     Arizona    Ariz.     AZ
3    Arkansas     Ark.     AR
4  California   Calif.     CA

Remove unnecessary columns

In [ ]:
states = states.drop("Standard", axis=1)

Merge the dataset using the matching column which is state abbreviations.

In [ ]:
dataset = dataset.merge(states, how="left", left_on="state_abbr", right_on="Postal")
dataset.head(50)

,job_title,job_description,seniority_level,employment_type,company_name,location,time_posted,num_applicants,job_link,min_salary,max_salary,state_abbr,State,Postal
0,Data Entry,Company Overview\nFormapelec is a dynamic and ...,Entry level,Full-time,FORMAPELEC,United States,9 hours ago,0,https://www.linkedin.com/jobs/view/remote-data...,40000.0,54000.0,None,NaN,NaN
1,Data Analyst,Job Description\nData Analyst Intern\nThe Iowa...,Internship,Internship,State of Iowa - Executive Branch,"Ames, IA",None,70,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,IA,Iowa,IA
2,Data Scientist,Company Description\nWho We Are:\nSpring Ventu...,Mid-Senior level,Full-time,Spring Venture Group,"Kansas City, MO",20 hours ago,0,https://www.linkedin.com/jobs/view/jr-data-sci...,NaN,NaN,MO,Missouri,MO
3,Data Analyst,Our client is seeking a skilled Data Analyst t...,Associate,Part-time,Stealth Startup,United States,None,0,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,None,NaN,NaN
4,Data Scientist,Cardiosense is a digital health company that o...,Not Applicable,Internship,Cardiosense,"Chicago, IL",None,0,https://www.linkedin.com/jobs/view/data-scient...,NaN,NaN,IL,Illinois,IL
5,Data Analyst,The Stellarix Group\nAgency Data Analyst\nRepo...,Mid-Senior level,Full-time,MassMutual,"Denver, CO",None,0,https://www.linkedin.com/jobs/view/agency-data...,80000.0,95000.0,CO,Colorado,CO
6,Data Scientist,Req125243\nInternship Overview\nThe Home Depot...,Not Applicable,Full-time,The Home Depot,"Atlanta, GA",12 hours ago,134,https://www.linkedin.com/jobs/view/analytics-d...,NaN,NaN,GA,Georgia,GA
7,Data Analytics,Department:\nTechnology\nLocation:\nSalt Lake ...,Internship,Internship,Freezing Point,"Salt Lake City, UT",22 hours ago,97,https://www.linkedin.com/jobs/view/data-analyt...,NaN,NaN,UT,Utah,UT
8,Data Scientist,About Us\nRapta is revolutionizing American ma...,Internship,Part-time,"Rapta, Inc.","Lake Oswego, OR",6 hours ago,86,https://www.linkedin.com/jobs/view/graduate-st...,NaN,NaN,OR,Oregon,OR
9,Data Entry,Job Overview\nJoin our esteemed Learning & Dev...,Entry level,Full-time,Forever Software,"Scranton, PA",7 hours ago,124,https://www.linkedin.com/jobs/view/fully-remot...,NaN,NaN,PA,Pennsylvania,PA
10,"Research & Analytics Intern, Summer 2025",About the Role & Program:\nDisney Entertainmen...,Mid-Senior level,Internship,The Walt Disney Company,"Burbank, CA",6 hours ago,69,https://www.linkedin.com/jobs/view/research-an...,NaN,NaN,CA,California,CA
11,Data Analyst,Job Summary\nThe Analytics team at WorkCare pr...,Entry level,Full-time,"WorkCare, Inc.","Anaheim, CA",21 hours ago,162,https://www.linkedin.com/jobs/view/data-analys...,95000.0,100000.0,CA,California,CA
12,Data Scientist,Rec Room is the best place to build and play g...,Entry level,Full-time,Rec Room,"Washington County, OR",19 hours ago,139,https://www.linkedin.com/jobs/view/product-dat...,130313.0,156672.0,OR,Oregon,OR
13,Data Analyst,About Upstart\nUpstart is a leading AI lending...,Mid-Senior level,Full-time,Upstart,United States,19 hours ago,199,https://www.linkedin.com/jobs/view/staff-data-...,157000.0,217500.0,None,NaN,NaN
14,Data Entry,Job Overview\nJoin our esteemed Learning & Dev...,Entry level,Full-time,Forever Software,"Scranton, PA",7 hours ago,125,https://www.linkedin.com/jobs/view/fully-remot...,NaN,NaN,PA,Pennsylvania,PA
15,Data Analyst,Job Title: BI Dashboard Analyst - Level 1\nDur...,Associate,Contract,Flexton Inc.,Cincinnati Metropolitan Area,23 hours ago,0,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,None,NaN,NaN
16,Data Entry,Job Overview\nWe are actively seeking a dilige...,Entry level,Contract,Descanso Dermatology Medical,"Durham, NC",18 hours ago,196,https://www.linkedin.com/jobs/view/remote-data...,NaN,NaN,NC,North Carolina,NC
17,Data Entry,Job Title:\nData Entry - Remote (WFH)\nLocatio...,Entry level,Full-time,LoveBound Destinations,"Houston, TX",19 hours ago,113,https://www.linkedin.com/jobs/view/data-entry-...,NaN,NaN,TX,Texas,TX
18,Data Scientist,We are looking for a Data Scientist to join th...,Entry level,Full-time,Spotify,"New York, NY",None,0,https://www.linkedin.com/jobs/view/data-scient...,89083.0,127262.0,NY,New York,NY
19,Data Entry,Job Title:\nVirtual Data Entry Clerk\nLocation...,Entry level,Full-time,Consulting By StarStream,United States,20 hours ago,0,https://www.linkedin.com/jobs/view/virtual-dat...,NaN,NaN,None,NaN,NaN
20,Digital Marketing Manager,Diptyque - Luxury Fragrance House has establis...,Associate,Full-time,Diptyque Paris,"New York, NY",23 hours ago,0,https://www.linkedin.com/jobs/view/digital-mar...,80000.0,100000.0,NY,New York,NY
21,Data Analyst,We are looking for a\nData Analyst\nto join th...,Entry level,Full-time,Malone Workforce Solutions,Omaha Metropolitan Area,23 hours ago,0,https://www.linkedin.com/jobs/view/data-analys...,55000.0,65000.0,None,NaN,NaN
22,Data Analyst,"Company Description\nLink Solutions, Inc. deli...",Mid-Senior level,Full-time,"Link Solutions, Inc.","Fort Stewart, GA",None,0,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,GA,Georgia,GA
23,"Business Analyst, Marketing, Amazon Key","Description\nAt Amazon Key, we are on a missio...",Not Applicable,Full-time,Ring,"Santa Monica, CA",12 hours ago,25,https://www.linkedin.com/jobs/view/business-an...,66900.0,143100.0,CA,California,CA
24,Data Analyst,"Killeen, TX, USA Req #1810\nTuesday, January 2...",Mid-Senior level,Full-time,Solution One Industries Inc,"Killeen, TX",19 hours ago,74,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,TX,Texas,TX
25,Data Analyst,Job Description\nMinimum 5 years of hands-on a...,Entry level,Full-time,EA Team Inc,"Dallas, TX",18 hours ago,0,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,TX,Texas,TX
26,Growth Marketing Associate,Noom is a digital healthcare company that conn...,Entry level,Full-time,Noom,"New York, NY",22 hours ago,0,https://www.linkedin.com/jobs/view/growth-mark...,78000.0,106000.0,NY,New York,NY
27,Machine Learning Intern,The Mercedes-Benz AI Experiences team is seeki...,Internship,Internship,Mercedes-Benz Research & Development North Ame...,"San Jose, CA",20 hours ago,0,https://www.linkedin.com/jobs/view/machine-lea...,NaN,NaN,CA,California,CA
28,Data and Insights Analyst,Job Summary\nJOB DESCRIPTION – Data and Insigh...,Entry level,Full-time,Ticketmaster,"Beverly Hills, CA",None,0,https://www.linkedin.com/jobs/view/data-and-in...,60000.0,75000.0,CA,California,CA
29,"Business Analyst, Marketing, Amazon Key","Description\nAt Amazon Key, we are on a missio...",Not Applicable,Full-time,Ring,"Austin, TX",12 hours ago,30,https://www.linkedin.com/jobs/view/business-an...,66900.0,143100.0,TX,Texas,TX
30,Data Analyst,Day to Day:\nA client of Insight Global is loo...,Associate,Full-time,Insight Global,Atlanta Metropolitan Area,None,0,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,None,NaN,NaN
31,Data and Visualization Analyst,Introduction\nThis position is located in the ...,Entry level,Full-time,DC Department of Human Resources,"Washington, DC",12 hours ago,47,https://www.linkedin.com/jobs/view/data-and-vi...,80784.0,103333.0,DC,District of Columbia,DC
32,Data Analyst,Description\nOur client is a leading provider ...,Associate,Full-time,SIGOOK®,"Hialeah, FL",23 hours ago,0,https://www.linkedin.com/jobs/view/data-analys...,60000.0,65000.0,FL,Florida,FL
33,Summer 2025 Business Intelligence Internship,T-Mobile is synonymous with innovation–and you...,Internship,Internship,T-Mobile,"New York, NY",15 hours ago,0,https://www.linkedin.com/jobs/view/summer-2025...,NaN,NaN,NY,New York,NY
34,UX Researcher II,"Our Mission\nLaunched in 2012, Tinder® revolut...",Not Applicable,Full-time,Tinder,"Los Angeles, CA",17 hours ago,58,https://www.linkedin.com/jobs/view/ux-research...,115000.0,125000.0,CA,California,CA
35,Power BI Analyst,Are you a dedicated Power BI Analyst eager to ...,Associate,Contract,Golden Technology,United States,23 hours ago,0,https://www.linkedin.com/jobs/view/power-bi-an...,NaN,NaN,None,NaN,NaN
36,Data Analyst,We’re looking for experienced and passionate D...,Associate,Full-time,Lemonade,"New York, NY",21 hours ago,0,https://www.linkedin.com/jobs/view/data-analys...,90000.0,120000.0,NY,New York,NY
37,Data Analyst,SYNERGISTICIT wants every candidate to know th...,Entry level,Contract,SynergisticIT,"Seattle, WA",13 hours ago,132,https://www.linkedin.com/jobs/view/entry-level...,NaN,NaN,WA,Washington,WA
38,Policy and Research Coordinator,Young Invincibles’ mission is to amplify the v...,Entry level,Full-time,Young Invincibles,"Austin, TX",14 hours ago,0,https://www.linkedin.com/jobs/view/policy-and-...,NaN,NaN,TX,Texas,TX
39,Data Analyst,Job Overview\nWe are seeking a dedicated and p...,Mid-Senior level,Full-time,BEOVEXIS,"New Albany, OH",7 hours ago,58,https://www.linkedin.com/jobs/view/business-da...,NaN,NaN,OH,Ohio,OH
40,Data Entry,Job Description\nJob Description\nSharpcontra ...,Entry level,Full-time,SharpContra,"Austin, TX",18 hours ago,0,https://www.linkedin.com/jobs/view/data-entry-...,NaN,NaN,TX,Texas,TX
41,Data Analyst,"Use your data analysis skills, problem-solving...",Mid-Senior level,Full-time,Public School and Education Employee Retiremen...,"Jefferson City, MO",None,0,https://www.linkedin.com/jobs/view/data-analys...,67004.0,78729.0,MO,Missouri,MO
42,Business Analyst,The Business Analyst will facilitate assigned ...,Mid-Senior level,Full-time,Accuhealth,United States,23 hours ago,0,https://www.linkedin.com/jobs/view/business-an...,NaN,NaN,None,NaN,NaN
43,Data Analyst,Ampcus Inc. is a certified global provider of ...,Entry level,Full-time,Ampcus Inc,"McLean, VA",18 hours ago,111,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,VA,Virginia,VA
44,"Business Analyst, Marketing, Amazon Key","Description\nAt Amazon Key, we are on a missio...",Not Applicable,Full-time,Ring,"Seattle, WA",12 hours ago,38,https://www.linkedin.com/jobs/view/business-an...,66900.0,143100.0,WA,Washington,WA
45,Data Entry,This role is 100% in-office in our Tempe locat...,Entry level,Full-time,Mindful Support Services,"Tempe, AZ",18 hours ago,0,https://www.linkedin.com/jobs/view/data-entry-...,NaN,NaN,AZ,Arizona,AZ
46,Data Engineer,Overview\nDo you want to join a team that's ch...,Not Applicable,Internship,Panasonic North America,"Newark, NJ",20 hours ago,0,https://www.linkedin.com/jobs/view/data-engine...,NaN,NaN,NJ,New Jersey,NJ
47,Data Entry,We are looking for a Data Entry Operator to up...,Entry level,Full-time,PJ Mechanical.,"New York County, NY",18 hours ago,0,https://www.linkedin.com/jobs/view/data-entry-...,70000.0,80000.0,NY,New York,NY
48,Data Engineer,PILYTIX brings Explainable Artificial Intellig...,Associate,Full-time,PILYTIX,"Austin, TX",22 hours ago,88,https://www.linkedin.com/jobs/view/data-engine...,NaN,NaN,TX,Texas,TX
49,Image Annotation Reviewer,We’re seeking detail-oriented individuals with...,Not Applicable,Other,LXT,United States,None,48,https://www.linkedin.com/jobs/view/image-annot...,NaN,NaN,None,NaN,NaN

Finally, export the cleaned dataset into csv format

In [ ]:
dataset.to_csv("clean_dataset.csv", index=False)